In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import glob, os

# Load data

In [2]:
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join("data", "*.csv"))))

# Check data

In [3]:
df = df.drop(["humidity", "visibility", "wind", "rain", "temp"], axis="columns" )
df.describe()

,transport_type,line,delay,direction,year,month,day,hour,minute,seconds
count,51811.0,51811.000000,40493.00000,40493.000000,51816.0,51816.0,51816.000000,51816.000000,51816.000000,51816.000000
mean,0.0,54.045241,-1.83165,0.500852,2020.0,11.0,2.490370,11.902733,29.721669,29.668654
std,0.0,16.720287,6.54958,0.500005,0.0,0.0,1.908235,6.869627,17.302722,17.273376
min,0.0,39.000000,-54.00000,0.000000,2020.0,11.0,0.000000,0.000000,0.000000,0.000000
25%,0.0,44.000000,-3.00000,0.000000,2020.0,11.0,1.000000,7.000000,15.000000,15.000000
50%,0.0,51.000000,0.00000,1.000000,2020.0,11.0,2.000000,12.000000,30.000000,30.000000
75%,0.0,82.000000,1.00000,1.000000,2020.0,11.0,4.000000,18.000000,45.000000,45.000000
max,0.0,82.000000,33.00000,1.000000,2020.0,11.0,6.000000,23.000000,59.000000,59.000000

In [4]:
df.head()

,transport_type,stop,line,delay,theoretical_time,expectedArrivalTime,date,direction,year,month,day,hour,minute,seconds
0,0.0,0089,39.0,NaN,NaN,NaN,2020-11-01 23:30:53.024515,NaN,2020,11,6,23,30,53
1,0.0,0089,44.0,NaN,NaN,NaN,2020-11-01 23:30:53.463017,NaN,2020,11,6,23,30,53
2,0.0,6608G,51.0,NaN,NaN,NaN,2020-11-01 23:30:55.581937,NaN,2020,11,6,23,30,55
3,0.0,6608G,82.0,NaN,NaN,NaN,2020-11-01 23:30:57.721204,NaN,2020,11,6,23,30,57
4,0.0,0089,39.0,NaN,NaN,NaN,2020-11-01 23:31:58.861441,NaN,2020,11,6,23,31,58

In [5]:
df.tail()

,transport_type,stop,line,delay,theoretical_time,expectedArrivalTime,date,direction,year,month,day,hour,minute,seconds
4639,0.0,6608G,82.0,0.0,2020-11-12 22:11:12,2020-11-12 22:11:00,2020-11-12 22:01:30.803930,1.0,2020,11,3,22,1,30
4640,0.0,0089,39.0,0.0,2020-11-12 22:09:00,2020-11-12 22:09:00,2020-11-12 22:02:32.539435,0.0,2020,11,3,22,2,32
4641,0.0,0089,44.0,0.0,2020-11-12 22:19:00,2020-11-12 22:19:00,2020-11-12 22:02:33.021177,0.0,2020,11,3,22,2,33
4642,0.0,6608G,51.0,-3.0,2020-11-12 22:07:44,2020-11-12 22:10:00,2020-11-12 22:02:34.395244,1.0,2020,11,3,22,2,34
4643,0.0,6608G,82.0,-1.0,2020-11-12 22:11:12,2020-11-12 22:12:00,2020-11-12 22:02:36.213043,1.0,2020,11,3,22,2,36

In [6]:
df.shape

(51816, 14)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51816 entries, 0 to 4643
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transport_type       51811 non-null  float64
 1   stop                 51811 non-null  object
 2   line                 51811 non-null  float64
 3   delay                40493 non-null  float64
 4   theoretical_time     40493 non-null  object
 5   expectedArrivalTime  40493 non-null  object
 6   date                 51816 non-null  object
 7   direction            40493 non-null  float64
 8   year                 51816 non-null  int64
 9   month                51816 non-null  int64
 10  day                  51816 non-null  int64
 11  hour                 51816 non-null  int64
 12  minute               51816 non-null  int64
 13  seconds              51816 non-null  int64
dtypes: float64(4), int64(6), object(4)
memory usage: 5.9+ MB

In [8]:
df["delay"].value_counts()

 0.0     11096
 1.0      5473
-1.0      3219
-2.0      2526
 2.0      1884
         ...
 25.0        1
 33.0        1
-38.0        1
-53.0        1
 26.0        1
Name: delay, Length: 80, dtype: int64

# Modify data

In [9]:
# remove NaN values
df = df.dropna(how="any")

In [10]:
df = df.drop(["theoretical_time", "expectedArrivalTime", "month", "day", "transport_type", "year"], axis="columns")

In [11]:
df.head()

,stop,line,delay,date,direction,hour,minute,seconds
728,6608G,51.0,0.0,2020-11-02 04:48:15.396895,1.0,4,48,15
729,6608G,51.0,0.0,2020-11-02 04:49:18.154437,1.0,4,49,18
730,6608G,51.0,0.0,2020-11-02 04:50:20.865576,1.0,4,50,20
731,6608G,51.0,0.0,2020-11-02 04:51:23.586660,1.0,4,51,23
732,6608G,51.0,0.0,2020-11-02 04:52:26.336477,1.0,4,52,26

In [12]:
df.tail()

,stop,line,delay,date,direction,hour,minute,seconds
4639,6608G,82.0,0.0,2020-11-12 22:01:30.803930,1.0,22,1,30
4640,0089,39.0,0.0,2020-11-12 22:02:32.539435,0.0,22,2,32
4641,0089,44.0,0.0,2020-11-12 22:02:33.021177,0.0,22,2,33
4642,6608G,51.0,-3.0,2020-11-12 22:02:34.395244,1.0,22,2,34
4643,6608G,82.0,-1.0,2020-11-12 22:02:36.213043,1.0,22,2,36

In [13]:
def day_of_week(dataframe):
    dataframe["day"] = dataframe["date"].apply(lambda date: pd.Timestamp(date.split(' ')[0]).dayofweek)
    
def hour_minute_second(dataframe):
    dataframe["time"] = dataframe.hour*3600 + dataframe.minute*60 + dataframe.seconds

In [14]:
# Get the day
day_of_week(df)
df = df.drop(["date"], axis="columns")

# Regroupe hour, minutes and seconds
#hour_minute_second(df)
#df = df.drop(["hour", "minute", "seconds"], axis="columns")

# Transform categorical values
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
df["stop"] = ord_enc.fit_transform(df[["stop"]])
df["line"] = ord_enc.fit_transform(df[["line"]])

In [15]:
df.head()

     stop  line  delay  direction  hour  minute  seconds  day
728   1.0   2.0    0.0        1.0     4      48       15    0
729   1.0   2.0    0.0        1.0     4      49       18    0
730   1.0   2.0    0.0        1.0     4      50       20    0
731   1.0   2.0    0.0        1.0     4      51       23    0
732   1.0   2.0    0.0        1.0     4      52       26    0

In [16]:
df.tail()

      stop  line  delay  direction  hour  minute  seconds  day
4639   1.0   3.0    0.0        1.0    22       1       30    3
4640   0.0   0.0    0.0        0.0    22       2       32    3
4641   0.0   1.0    0.0        0.0    22       2       33    3
4642   1.0   2.0   -3.0        1.0    22       2       34    3
4643   1.0   3.0   -1.0        1.0    22       2       36    3

In [17]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [18]:
df["stop"] = df["stop"]*10
df["line"] = df["line"]*10
df["direction"] = df["direction"]*10
print(df)

X = df.drop("delay", axis="columns")
y = df["delay"]

# Apply a standardscaler
scaler = StandardScaler()

X = scaler.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

      stop  line  delay  direction  hour  minute  seconds  day
728   10.0  20.0    0.0       10.0     4      48       15    0
729   10.0  20.0    0.0       10.0     4      49       18    0
730   10.0  20.0    0.0       10.0     4      50       20    0
731   10.0  20.0    0.0       10.0     4      51       23    0
732   10.0  20.0    0.0       10.0     4      52       26    0
...    ...   ...    ...        ...   ...     ...      ...  ...
4639  10.0  30.0    0.0       10.0    22       1       30    3
4640   0.0   0.0    0.0        0.0    22       2       32    3
4641   0.0  10.0    0.0        0.0    22       2       33    3
4642  10.0  20.0   -3.0       10.0    22       2       34    3
4643  10.0  30.0   -1.0       10.0    22       2       36    3

[40493 rows x 8 columns]

# Creating models

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [20]:
regressors = [
    SVR(kernel="linear"),
    LinearRegression(),
    DecisionTreeRegressor(random_state=42),
    RandomForestRegressor(n_estimators=10, random_state=42)
]

In [21]:
for regr in regressors:
    regr.fit(X_train, y_train)   
    print(regr)
    prediction = regr.predict(X_test)
    print(prediction)
    print(mean_squared_error(y_test, prediction))
    print("r2 score on test: %.3f" % r2_score(y_test, prediction))
    print("model score on test: %.3f" % regr.score(X_test, y_test))
    print("model score on training: %.3f" % regr.score(X_train, y_train))

SVR(kernel='linear')
[-0.85046141 -0.88221745 -0.73104364 ...  0.12072286 -0.84949847
 -0.98819681]
43.3466439322162
r2 score on test: -0.041
model score on test: -0.041
model score on training: -0.049
LinearRegression()
[-1.72804198 -1.90257025 -0.8808356  ... -1.24063745 -1.5612568
 -2.44518977]
41.464365499136385
r2 score on test: 0.004
model score on test: 0.004
model score on training: 0.008
DecisionTreeRegressor(random_state=42)
[ -8.   0.   0. ...   1. -10.  -2.]
59.86680454377083
r2 score on test: -0.438
model score on test: -0.438
model score on training: 0.997
RandomForestRegressor(n_estimators=10, random_state=42)
[-5.1  1.  -1.6 ...  2.2 -3.  -4.8]
36.15072722181065
r2 score on test: 0.132
model score on test: 0.132
model score on training: 0.848

In [22]:
from joblib import dump, load
import numpy as np
from sklearn.model_selection import RandomizedSearchCV


model = RandomForestRegressor(n_estimators=10, random_state=42)
model.fit(X_train, y_train)

data = np.array([10.0, 30.0, 10.0, 7, 53, 25, 1])
test_sc = StandardScaler()
data = test_sc.fit_transform(data[:,np.newaxis])
data = np.transpose(data)

print(data)
print(model.predict(data))

[[-0.56611186  0.63473148 -0.56611186 -0.74623836  2.01570132  0.33452064
  -1.10649136]]
[-2.3]